<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenjie.modules.system.mapper.SysUserRoleMapper">
    <update id="deleteByUserId">
        UPDATE sys_user_role SET deleted = 1, update_time = NOW() WHERE user_id = #{userId} AND deleted = 0
    </update>

    <insert id="insertBatch">
        INSERT INTO sys_user_role (user_id, role_id)
        VALUES
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{userId}, #{roleId})
        </foreach>
        ON DUPLICATE KEY UPDATE deleted = 0, update_time = NOW()
    </insert>

    <select id="selectRoleIdsByUserId" resultType="long">
        SELECT role_id FROM sys_user_role WHERE user_id = #{userId} AND deleted = 0 ORDER BY role_id ASC
    </select>
</mapper>
